<title>Pintrips</title>
<h1>User List</h1>

<div id="users">
<% @users.each do |user| %>
  <div class="user">
    <p>
      <strong><%= link_to user.user_name, user_path(user) %></strong>
      <% if logged_in? %>
      <%= puts "You" if (user == current_user) %>
      <%= puts "should NOT have add friend link for #{user.user_name}" if Friendship.between(user, current_user) %>

      <%# byebug %>
        <% if !(user == current_user) && !Friendship.between(current_user, user)%>
          (<%= link_to "add friend", friendships_path(friend_id: user), method: :post%>)
        <% end %>
      <% end %>
      <div class="clear"></div>
    </p>
  </div>
<% end %>
</div>
