<div class="container">
  <div class="row">
    <% images.each do |img| %>
      <div class="card">
        <a href="<%= image_path(img) %>"><img class="img-fluid" width="280" src="<%= img.url %>" alt="<%= img.title %>"></a>
          <p class="card-text"><%= img.caption %></p>
      </div>
    <% end %>
  </div>
</div>
